<p>Perfect for more complicated molds and better production rates as well good quality with high precision. Easy to transport and ideal for a educational context and small enterprises.<br>
</p>
<hr>
<div style="float:left;">
	<table>
	<tbody>
	<tr>
		<td>Version
		</td>
		<td>1.3
		</td>
	</tr>
	<tr>
		<td> Weight
		</td>
		<td>40 kg
		</td>
	</tr>
	<tr>
		<td> Dimensions - Package
		</td>
		<td>1100 x 200 x 500 mm
		</td>
	</tr>
	<tr>
		<td> Barrel volume
		</td>
		<td>70 cm³
		</td>
	</tr>
	<tr>
		<td> Voltage
		</td>
		<td>220V
		</td>
	</tr>
	<tr>
		<td> AMP
		</td>
		<td>2.6A
		</td>
	</tr>
	<tr>
		<td> Input Flake Size
		</td>
		<td>Medium, Small
		</td>
	</tr>
	<tr>
		<td> License
		</td>
		<td><a href="https://ohwr.org/cernohl">CERN Open Source Hardware License</a>
		</td>
	</tr>
	</tbody>
	</table>
</div>
<p><strong></strong>
</p>
<p><img width="400" src="https://newbazar.preciousplastic.com/images/companies/24/elena/drawing_small.jpg?1580043099465" alt="">
</p>
<p><strong>Package contents</strong><br>
</p>
<p>- 4 heatbands
</p>
<p>- 1 PID controller
</p>
<p>- 1 SSR
</p>
<p>- control enclosure
</p>
<p>- 1 rack & spur gear (Module 3) : 30 mm x 30 mm x 500 mm
</p>
<p>- the shotsize of the barrel is 30 cm long with a diameter of 25 mm
</p>
<p><strong>Attributes</strong>
</p>
<p>inspired by Esfèrica | esferica.org<br>
</p>
<p><strong>Notes</strong>
</p>
<p>- we don't ship to the US, Australia or exotic countries<br>
</p>
<p>- we do after sales support (whatsapp). you have 12 months warranty and we replace most parts for free.<br>
</p>
<p>- minor custom extras are for free
</p>
<p>- Precious Plastic Machine Library : <a href="https://precious-plastic.org/home/library/machines/arbor-injection-press/"><span style="color:rgb(31,73,125);"></span>https://precious-plastic.org/home/library/machines...</a><br>
</p>
<p>- Nozzle - Connection (M20 Metric thread ): <a href="https://precious-plastic.org/home/library/components/plunger/">https://precious-plastic.org/home/library/componen...</a><br>
</p>
<p><br>
</p>
<p style="color:#f58d8e;">
	<a href="https://www.instagram.com/plastichubcat/"><span style="color:#f58d8e;">Instagram</span></a> | <a href="https://github.com/plastichub"><span style="color:#f58d8e;">Github (open source
            files, machines)
	</span></a> | <a href="mailto:mailto://cgoflyn@gmail.com"><span style="color:#f58d8e;">EMail</span></a> | <a href="https://www.facebook.com/plastichubcat"><span style="color:#f58d8e;">Facebook</span></a> | <a href="https://precious-plastic.org/library/machines/"><span style="color:#f58d8e;">Wiki</span></a> | <a href="https://community.preciousplastic.com/u/plastichub"><span style="color:#f58d8e;">Community map</span></a>
</p>
<p><a href="https://discord.gg/nVaNCs3"><span style="color:#f58d8e;">Discord - Support Chat (pre-sales,
            community)
	</span></a> | <a><span style="color:#f58d8e;">Telefon (Whatsapp,
            English, French, German, Spanish, Catalan)
	</span></a>
</p>
<p><br>
</p>
<p><br>
</p>
<p><strong>Community builds</strong>
</p>
<p><img width="300" src="https://newbazar.preciousplastic.com/images/companies/24/elena/markz.jpg?1580037715294" alt="" style="margin:auto;float:left;padding:16px;">
</p>
<p><img width="300" src="https://newbazar.preciousplastic.com/images/companies/24/elena/umelohmotne_59865422_441042840038598_5468035939138973777_n.jpg?1580037857618" alt="umelohmotne_59865422_441042840038598_546">
</p>